Source: wiringpi-test
Section: electronics
Priority: optional
Maintainer: Steve Jeong <steve@how2flow.net>
Standards-Version: 1.0.8
Homepage: https://how2flow.net/documents/wiringpi-test
Build-Depends: debhelper (>=10),
  libc6-dev,
  libwiringpi-dev,
  pkg-config

Package: wiringpi-test
Architecture: any
Depends: ${misc:Depends},
  bsdmainutils,
  i2c-tools,
  spi-tools,
  libwiringpi2,
  libwiringpi-dev
Description: test wiringpi gpio & alt functions.
